.seasonalGiftBoxHeaderIcon_daa077 {
    align-self: center;
    bottom: -11px;
    position: absolute;
    width: 260px;
    z-index: 1
}

.container_daa077 {
    align-items: center;
    background-image: unset;
    background-size: unset;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    position: relative
}

.closeButton_daa077 {
    margin: var(--modal-vertical-padding) var(--modal-horizontal-padding);
    margin-inline-start: auto
}

.offerNotice_a00134 {
    align-self: stretch;
    border-radius: var(--radius-md);
    padding: var(--space-8);
    width: 100%
}

.rewardText_a00134 {
    display: flex;
    flex-direction: column;
    gap: var(--space-4)
}

.collectiblesPreview_a00134 {
    background-color: var(--background-mod-subtle);
    border: 1px solid var(--border-normal);
    border-radius: var(--radius-sm);
    display: flex;
    height: var(--size-48);
    overflow: hidden;
    width: var(--size-48)
}

.collectiblesPreview_a00134,
.scaledSkuPreview_a00134 {
    align-items: center;
    justify-content: center
}

.scaledSkuPreview_a00134 {
    height: 100%;
    transform: scale(.42);
    transform-origin: center;
    width: 100%
}

.scaledSkuPreview_a00134.avatarDecoration_a00134 {
    height: auto;
    width: auto
}

.scaledSkuPreview_a00134.bundle_a00134,
.scaledSkuPreview_a00134.nameplate_a00134,
.scaledSkuPreview_a00134.profileEffect_a00134,
.scaledSkuPreview_a00134.profileFrame_a00134 {
    transform: scale(1)
}

.nameplatePreview_a00134 {
    margin: 0
}

.nameplatePreviewRescaler_a00134 {
    inset: -65%;
    transform: scale(.42)
}

.container__3f4aa {
    background: linear-gradient(90deg, rgba(253, 153, 233, .54), rgba(171, 127, 238, .54) 50%, rgba(88, 101, 242, .54));
    border-radius: var(--radius-md);
    padding: var(--space-8)
}

.theme-dark .container__3f4aa {
    background: linear-gradient(90deg, rgba(179, 38, 156, .24), rgba(100, 29, 180, .24) 50%, rgba(20, 20, 203, .24))
}

.tile__3f4aa>div:last-child {
    gap: 0
}

.rewardImage__3f4aa {
    border-radius: var(--radius-xs);
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 40px
}

.previewTotalSectionContainer__9ab7f {
    margin-top: var(--space-16)
}

.premiumSwitchPlanSelectText__9ab7f {
    margin-bottom: var(--space-24)
}

.editText__5292b {
    color: var(--text-brand);
    padding-inline-start: var(--space-6)
}

.paymentRestrictionBannerContainer__52623 {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 16px;
    min-height: 48px;
    padding-inline: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative
}

.theme-light .paymentRestrictionBannerContainer__52623 {
    background: linear-gradient(90deg, #475cc6 0, #6045c1)
}

.theme-dark .paymentRestrictionBannerContainer__52623 {
    background: linear-gradient(90deg, #475cc6 0, #6045c1)
}

.paymentRestrictionBannerBackgroundImage__52623 {
    background-image: url(/assets/bb502dc7cfcbbacc.svg);
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
    top: 40%;
    inset-inline: 78% 0
}

.appsIconContainer__52623 {
    height: 28px;
    padding-inline-end: 12px;
    width: 28px
}

.theme-light .icon__52623 {
    display: none
}

.theme-light .iconDark__52623 {
    filter: drop-shadow(0 1px 2px rgb(0 0 0/.4));
    height: 28px;
    width: 28px
}

.theme-dark .icon__52623 {
    filter: drop-shadow(0 1px 2px rgb(0 0 0/.4));
    height: 28px;
    width: 28px
}

.theme-dark .iconDark__52623 {
    display: none
}

.premiumBrandRefreshInputBackground_d313e6 {
    background-color: var(--background-mod-subtle) !important;
    border: 0 !important
}

/*# sourceMappingURL=667856.fd3735e9f076eca4.css.map*/